#gameTitle {
    text-align: center;
}

#gameContainer {}

body {
    background: #222;
    color: #f8f8f8;
}

canvas {
    background: green;
    padding: 0;
    margin: 0 auto;
    display: block;
    border: 10px solid saddlebrown;

}
